.wrapper{
    h5{
        color:yellow;
        text-align:left;
    }
}
  .container{
    display: flex;
    justify-content: right;
    ul{
        li{
            p{
                color: white;
            }
        }
    }
  }
 